.character-profile {
    height: 220px;
    width: 500px;
    margin: 0 2rem 2rem;
    display: flex;
    background: #3b3e43;
    border-radius: 1rem;
}

.character-image {
    height: inherit;
    width: auto;
    border-radius: 1rem 0 0 1rem;
}

.character-details {
    height: 100%;
    width: inherit;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: #f5f5f5;
}

.character-info {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    font-size: 1.25rem;
    
    p {
        margin: 0.3rem;
    }
}

.character-header {
    display: inline-flex;
}

.character-name {
    justify-content: center;
    &:hover {
        color: green;
    } 
}

.status-symbol {
    height: 1rem;
    width: 1rem;
    margin: 0.5rem;
    border-radius: 50%;
    background: #20b720;
    justify-content: center;
}

.inline-detail {
    width: 100%;
    display: inline-flex;
}

.field-label {
    color: #a3a7b1;
    font-weight: bold;
}

.field-value {
    margin-left: 1rem;
}

.status-value {
    color: #1dd51d;
    font-weight: bold;
}

.location-access {
    display: inline-flex;
    justify-content: center;
    cursor: pointer;
    margin: 0;
    padding: 0.2rem 1rem;
    border-radius: 1rem;
    background: #202020;
    box-shadow: 0.15rem 0.15rem 0.05rem grey;
    &:hover {
        box-shadow: 0.15rem 0.15rem 0.05rem #c5c553;
        color: #c5c553;
    }
}

.location-label {
    justify-content: center;
    margin: 0;
}

.location-icon {
    margin-left: 0.4rem;
}
