.filter-container {
    height: auto;
    width: auto;
    border: 2px solid antiquewhite;
    border-radius: 1rem;
}

.filter-header {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    padding: 1rem;
    font-size: 1.2rem;
    font-weight: bold;
    border: 1px solid white;
    border-radius: 1rem;
    color: antiquewhite;
    background: #3b3e43;
    cursor: pointer;
}

.filter-content {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hide-filter-content {
    display: none;
}
