@font-face {
    font-family: "SupermercadoOne-Regular";
    src: url("static/fonts/SupermercadoOne-Regular.ttf") format("truetype");
}

.app-body {
    min-height: 100vh;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background: #24282e;
    color: white;
}

.app-title {
    font-family: "SupermercadoOne-Regular";
    font-size: 4rem;
    text-align: center;
    color: #8d8b7a;
    padding: 1.5rem 0;
    background: linear-gradient(#66644a, #24282d);
    text-shadow: 2px 2px #262626;
}

.main-section {
    margin: 1%;
    padding: 0;
}
